@import "./navigator.css";

body {
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;
}

body a {
  text-decoration: none;
}

.index-bg-box {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url(../images/index-bg.png);
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.home-container {
  background-color: rgba(0, 0, 0, 0);
  width: 70%;
  min-width: 390px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5%;
}

.home-main_image {
  height: 40vh;
  width: 90%;
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home-main_image > span:first-child {
  font-size: 2.2em;
  font-weight: 700;
  margin: 1em 0;
}

.home-mobile-none {
  opacity: 0.5;
}

.main_page-button {
  background-color: #fbc500;
  color: black;
  font-size: 1.2em;
  font-weight: 650;
  margin: 2em auto;
  text-align: center;
  padding: 1em 0;
  border-radius: 0.5em;
  width: 300px;
}

.home-description {
  margin: 1.5em auto;
  color: #647181;
  text-align: center;
}

.home-ott-button-box {
  display: flex;
  justify-content: center;
}

.home-ott-button img {
  width: 3em;
  height: 3em;
  border-radius: 1em;
  margin: 0 0.3em;
}

.home-ott-button:last-child {
  background-color: black;
  color: #647181;
  width: 4em;
  height: 3em;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
