@media screen and (max-width: 391px) and (max-height: 845px) {
 
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: white; 
        background-color: #333;
    }

    #container{
        display :flex;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        width: 100vw;
    }

    #ott_box{
        width: 100%;
        height: auto;
    }

    #ott_box span{
        margin : 2px;
    }

    #ott_box .netflix_button{
        margin-left: 12px;
    }

    #ott_box img{
        width:48px;
        height:48px;
    }

    #ott_box img:active{
        transform: scale(1.2);
    }

    #new_box{
        width: 100%;
        height: auto;
        display: grid;
    }

    #new_box button{
        background-color: grey;
    }

    #movie_box{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2,2fr);
        grid-template-rows: repeat(auto,3fr);
        grid-gap: 20px 20px;
        padding: 20px;
    }

    

    .hide{
        display: none;
    }

    .checked{
        opacity: 0.5;
    }

}