@import "./navigator.css";

#main_div * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav_div {
  height: 2rem;
  background-color: #333;
  min-width: 390px;
  width: 50vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main_div {
  margin: auto;
  width: 1000px;
  background-color: #333;
  min-width: 390px;
  width: 50vw;
  height: 52.75rem;
  overflow-y: auto;
}

#div1 {
  margin-top: 0.625rem;
  margin-left: 0.3125rem;
}

#text_color {
  color: white;
  /* margin-left: .3125rem; */
}

#img_scale {
  float: inline-start;
  width: 6.25rem;
  height: 9.375rem;
  border-radius: 0.3125rem;
}

#sub_img {
  margin-top: 0.625rem;
  width: 3.125rem;
  height: 2.5rem;
  margin-left: 0.3125rem;
  border-radius: 5px;
}

#sub_img_toggle {
  margin: 0.3125rem;
}

#toggle_button {
  margin-left: 10rem;
}

#streaming {
  background-color: beige;
  width: 300px;
}

@media (min-width: 24.4375rem) {
  #nav_div,
  #main_div,
  #div1,
  #text_color,
  #img_scale,
  #sub_img,
  #sub_img_toggle,
  #toggle_button,
  #streaming {
    margin: auto; /* 390px 이상일 때 모든 요소를 가운데 정렬 */
  }
}
